* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    height: 60px;
    box-shadow: 0 0 5px #444;
}

#logo {
    font-size: 2em;
    color: #000;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav ul li {
    list-style: none;
    font-size: 1.2em;
    background: #fff;
    padding: 10px 20px;
}

main {
    display: flex;
    flex-direction: column;
    background: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    height: 600px;
    margin: 20px;
}

.square-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.square {
    background: #fff;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

.posts-container .filter-menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.posts-container .filter-menu ul li {
    background: #fff;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #888;
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post {
    display: flex;
    gap: 20px;
    background: #fff;
    min-height: 150px;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 5px #888;
}

.post-media {
    height: 200px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 0 5px #444;
}

.post-texts {
    width: 100%;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.posts-title {
    font-size: 1.4em;
}

.footer-container {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    background: #ddd;
    padding: 20px;
}

.footer-col {
    background: #fff;
    width: 30%;
    padding: 20px;
}

.box {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px #555;
    border-radius: 15px;
    padding: 20px;
}

.hidden {
    display: none;
}

.button {
    background: #fff;
    box-shadow: 0 0 5px #555;
    border-radius: 8px;
    padding: 5px 10px;
}

.button:has(input:checked) {
    background: #999;
}
