* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px #555;
    border-radius: 15px;
}

.marg20px {
    margin: 20px;
}

.text-center {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    /* background: linear-gradient(to bottom, #027db6, #a3d0e5); */
    padding-top: 60px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    height: 60px;
    box-shadow: 0 0 5px #444;
    z-index: 10;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
}

#logo {
    font-size: 1.5em;
    color: #000;
    display: inherit;
    align-items: center;
    gap: 5px;
    width: calc(100% - 80px);
    text-decoration: none;
}

#logo img {
    width: 50px;
    margin-right: 5px;
}

nav ul {
    display: flex;
}

#menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 20px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    overflow: hidden;
    background-image: url("../images/zac-durant-_6HzPU9Hyfg-unsplash.jpg");
    background-position: center center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro img {
    max-width: 900px;
    min-width: 500px;
}

/* SQUARES - START */

.square-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.square {
    position: relative;
    background: #fff;
    width: 400px;
    height: 400px;
    overflow: hidden;
    z-index: 1;
    flex-grow: 1;
}

.square a {
    text-decoration: none;
}

.inner-square {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #027db6, #a3d0e5);
}

.square-image {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.square:hover .square-image {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.square-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.square-general {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.square-container h2 {
    z-index: 2;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    background: #027db6;
    padding: 10px 20px;
    border-radius: 50px;
}

.square-container h3 {
    z-index: 2;
    font-family: sans-serif;
    font-size: 20px;
    color: #000;
}

.square-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#church {
    background: url(../images/church_small.jpg) center;
    background-size: cover;
}

#our-family {
    background: url(../images/2021-12-27.jpeg) center;
    background-size: cover;
}

#feed {
    background: url(../images/logo3DPaper_small.jpg) center;
    background-size: cover;
}

#prayers {
    background: url(../images/prayer-1308663_640.jpg) center;
    background-size: cover;
}

#missions {
    background: url(../images/missions-small.jpeg) center;
    background-size: cover;
}

#agenda {
    background: url(../images/business-3054946_640.jpg) center;
    background-size: cover;
}

#pictures {
    background: url(../images/church_inside_small.jpg) center;
    background-size: cover;
}

#videos {
    background: url(../images/clapper-board-1019607_640.jpg) center;
    background-size: cover;
}

/* SQUARES - END */
/* POSTS - START */

.posts-container {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #027db6, #a3d0e5);
}

.post-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 150px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 5px #888;
    background: #fff;
    max-width: 400px;
    min-width: 300px;
}

.post-media {
    height: auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 5px #444;
}

.post-texts {
    width: 100%;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.posts-title {
    font-size: 1.4em;
}

.post-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* POSTS - END */
/* FILTER-MENU - START */

#filters {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.filter-menu ul li,
.filter-menu .button {
    background: #fff;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px #888;
    height: 30px;
}

.filter-menu ul .active {
    background: #027db6;
    color: #fff;
}

.filter-menu a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* FILTER-MENU - END */
/* FOOTER - START */

footer {
    width: 100%;
}

.footer-container {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: space-evenly;
    background: #ddd;
    padding: 20px;
}

.footer-col {
    width: 30%;
    padding: 20px;
    text-align: center;
}

/* FOOTER - END */
/* GENERAL - START */

.hidden {
    display: none;
}

.button {
    background: #fff;
    box-shadow: 0 0 3px #555;
    border: 0;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
}

#groups-list .button {
    background: #fff;
    padding: 5px 15px;
    border: 1px solid #027db6;
    border-radius: 8px;
    height: 30px;
    cursor: default;
}

#radio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    margin-top: 20px;
}

.radio-option {
    display: inline-block;
    width: auto;
    background: #fff;
    padding: 5px;
    border: 1px solid #027db6;
    border-radius: 8px;
    height: 30px;
    cursor: default;
}

.form-box {
    margin: 100px auto;
    width: 500px;
    padding: 30px;
    max-width: 90%;
}

/* GENERAL - END */
/* FORM-BOX - START */

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #027db6;
    margin-bottom: 20px;
    padding: 0 5px;
}

.form-box button {
    margin-top: 20px;
    height: 40px;
    border: 1px solid #027db6;
    border-radius: 8px;
    background: #027db6;
    color: #fff;
    font-size: large;
}

.form-box div {
    padding-top: 10px;
}

.form-box a {
    display: block;
    text-decoration: none;
    color: #000;
    margin: 10px 0 10px 0;
    text-align: right;
}

.form-box h1 {
    margin-bottom: 30px;
}

/* FORM-BOX - END */
/* NEW POST - START */

.new-post {
    width: 800px;
    max-width: 100%;
}

.new-post .post {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.new-post .post form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.new-post input,
.new-post textarea {
    border: 1px solid #027db6;
    border-radius: 8px;
    padding: 5px;
}

.new-post label {
    margin-top: 10px;
}

.new-post input[type=submit] {
    margin: 40px auto 0 auto;
    background: #027db6;
    color: #fff;
    font-size: larger;
    width: 50%;
}

.new-post #groups-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style: none;
}

/* NEW POST - END */
/* MSG - START */

.msg-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    top: 70px;
    right: 0px;
    cursor: default;
    overflow: hidden;
    padding: 10px;
}

.msg-container i {
    padding-right: 15px;
    font-size: x-large;
    color: #aa0000;
}

.msg {
    position: relative;
    display: none;
    align-items: center;
    width: 350px;
    height: 60px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #555;
    border-radius: 15px;
    padding: 20px;
    transform: translateX(420px);
    transition: all 0.5s;
    box-shadow: 0 0 5px #555;
    overflow: hidden;
}

.msg-bar {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 90%, #aa0000 10%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-animation: 5s forwards 0s msgbar;
    animation: 5s forwards linear 0s msgbar;
}

.show {
    display: flex;
    transform: translateX(0px);
    -webkit-animation: 5s forwards 0s toast;
    animation: 5s forwards 0s toast;
}

.msg:hover,
.msg-bar:hover {
    animation-play-state: paused;
}

@-webkit-keyframes toast {
    0% {
        transform: translateX(420px);
    }

    15% {
        transform: translateX(0px);
    }

    85% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(420px);
        display: none;
    }
}

@keyframes toast {
    0% {
        transform: translateX(420px);
    }

    15% {
        transform: translateX(0px);
    }

    85% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(420px);
        display: none;
    }
}

@-webkit-keyframes msgbar {
    0% {
        right: 350px;
    }

    15% {
        right: 350px;
    }

    85% {
        right: 0px;
    }

    100% {
        right: 0px;
        display: none;
    }
}

@keyframes msgbar {
    0% {
        right: 350px;
    }

    15% {
        right: 350px;
    }

    85% {
        right: 0px;
    }

    100% {
        right: 0px;
        display: none;
    }
}

/* MSG - END */
/* RESPONSIVENESS - SMALL */

@media (max-width: 700px) {
    nav ul {
        position: fixed;
        left: 0;
        right: 0;
        margin: 0;
        top: 0;
        flex-direction: column;
        width: 100%;
        gap: 0;
    }

    nav li:first-child {
        width: auto;
        align-self: flex-end;
        margin-bottom: 8px;
    }

    .menu-opt {
        display: none;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.9);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 60px;
        list-style: none;
        border-top: 1px solid #027db6;
        font-size: 1.2em;
    }

    nav li:not(:first-child):hover {
        background: rgba(255, 255, 255, 1);
    }

    #logo {
        font-size: 1.3em;
    }

    #burgermenu {
        display: flex;
        align-items: center;
        font-size: 1.5em;
        height: 60px;
        margin: 0;
        padding: 0 20px;
    }

    .post {
        flex-direction: column;
        align-items: center;
    }

    .post-media {
        height: auto;
        width: 100%;
    }
}

/* RESPONSIVENESS - BIG */

@media (min-width: 700px) {
    nav li:first-child {
        display: none;
    }

    nav li:not(:first-child) {
        display: block;
    }

    .menu-opt {
        display: flex;
        height: 100%;
        list-style: none;
        padding: 10px 20px;
        font-size: 1.2em;
    }

    #burgermenu {
        display: none;
    }
}


/* RESPONSIVENESS - END */